*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  min-height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:rgba(0, 0, 204,0.98);
  color:white;
  font-family:arial;
}
.stats{
  width:45em;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:5px 0;
}
.stats h2 {
  background-color: rgba(0, 0, 102, 0.3);
  padding:5px;
  border-radius: 7px;
}
.replay{
  width:40px;
  text-align: center;
  background-color: rgb(119, 187, 119);
  border-radius: 7px;
  margin-right: 3px;
  cursor:pointer;
}
.turn{
  width:100px;
  display: flex;
  justify-content: space-between;
}
.container{
  background:blue;
  height:40em;
  width:45em;
  border:none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
}
.column{
  height:40em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.circle{
  height:90px;
  width:90px;
  border: none;
  border-radius: 50%;
  background-color:rgba(0, 0, 0, 0.3);
}
span{
  display:block;
}
.smallyellow{
  width:25px;
  height:25px;
  background-color: yellow;
  border-radius: 50%;
}
.smallred{
  width:25px;
  height:25px;
  background-color: red;
  border-radius: 50%;
}
